.App {
  background-color: black;
}

.Game {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "canvas-plus-board" "canvas-plus-board";
}

.canvas {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: canvas-plus-board;
  z-index: 1;
}

.canvas .particle-canvas {
  width: 100vw !important;
  height: 100vh !important;
}

.board {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: canvas-plus-board;
  z-index: 2;
}

.bingoGame {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25vh 1fr;
      grid-template-rows: 25vh 1fr;
      grid-template-areas: "bingoResult" "bingoGrid";
}

.bingoResult {
  grid-area: "bingoResult";
  display: -ms-grid;
  display: grid;
      grid-template-areas: "noBlend-and-Blend";
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  pointer-events: none;
}

.bingoResult .noBlends {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: noBlend-and-Blend;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  font-family: "Trebuchet MS";
}

.bingoResult .matchedBlends {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: noBlend-and-Blend;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh 10vh;
      grid-template-rows: 10vh 10vh;
      grid-template-areas: "text" "icon";
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
}

.bingoResult .matchedBlends .action {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: icon;
  top: 150vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 300px;
  height: 25vw;
  max-width: 300px;
  width: 25vw;
}

.bingoResult .matchedBlends .action .confetti, .bingoResult .matchedBlends .action .confetti--purple {
  z-index: -1;
  position: absolute;
  height: 50px;
  width: 10px;
  border-radius: 10px;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform-origin: center middle;
          transform-origin: center middle;
  opacity: 0;
}

.bingoResult .matchedBlends .action .confetti {
  top: 0;
  left: calc(50% - 5px);
  background-color: #ffea00;
  -webkit-animation-name: fly--up;
          animation-name: fly--up;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.bingoResult .matchedBlends .action .confetti.two {
  top: auto;
  bottom: 0;
  -webkit-animation-name: fly--down;
          animation-name: fly--down;
}

.bingoResult .matchedBlends .action .confetti.three, .bingoResult .matchedBlends .action .confetti.four {
  top: calc(50% - 5px);
  left: calc(50% - 25px);
  height: 10px;
  width: 50px;
  -webkit-animation-name: fly--left;
          animation-name: fly--left;
}

.bingoResult .matchedBlends .action .confetti.four {
  -webkit-animation-name: fly--right;
          animation-name: fly--right;
}

.bingoResult .matchedBlends .action .confetti--purple {
  background-color: #6200ea;
  -webkit-animation-name: fly--up--left;
          animation-name: fly--up--left;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  left: 20%;
  top: 20%;
}

.bingoResult .matchedBlends .action .confetti--purple.two {
  -webkit-animation-name: fly--up--right;
          animation-name: fly--up--right;
  left: auto;
  right: 20%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.bingoResult .matchedBlends .action .confetti--purple.three {
  top: auto;
  bottom: 20%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation-name: fly--down--left;
          animation-name: fly--down--left;
}

.bingoResult .matchedBlends .action .confetti--purple.four {
  top: auto;
  bottom: 20%;
  left: auto;
  right: 20%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-animation-name: fly--down--right;
          animation-name: fly--down--right;
}

.bingoResult .matchedBlends .trophy {
  z-index: 1;
  background-color: #fff;
  height: 50%;
  width: 50%;
  border-radius: 100%;
  -webkit-animation: trophy 0.5s 1 forwards;
          animation: trophy 0.5s 1 forwards;
}

@-webkit-keyframes trophy {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes trophy {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fly--up {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(-20vw);
            transform: translateY(-20vw);
  }
  100% {
    -webkit-transform: translateY(-15vw);
            transform: translateY(-15vw);
    opacity: 0;
  }
}

@keyframes fly--up {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(-20vw);
            transform: translateY(-20vw);
  }
  100% {
    -webkit-transform: translateY(-15vw);
            transform: translateY(-15vw);
    opacity: 0;
  }
}

@-webkit-keyframes fly--down {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(20vw);
            transform: translateY(20vw);
  }
  100% {
    -webkit-transform: translateY(15vw);
            transform: translateY(15vw);
    opacity: 0;
  }
}

@keyframes fly--down {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(20vw);
            transform: translateY(20vw);
  }
  100% {
    -webkit-transform: translateY(15vw);
            transform: translateY(15vw);
    opacity: 0;
  }
}

@-webkit-keyframes fly--left {
  0% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(-35vw);
            transform: translateX(-35vw);
  }
  100% {
    -webkit-transform: translateX(-180px);
            transform: translateX(-180px);
    opacity: 0;
  }
}

@keyframes fly--left {
  0% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(-35vw);
            transform: translateX(-35vw);
  }
  100% {
    -webkit-transform: translateX(-180px);
            transform: translateX(-180px);
    opacity: 0;
  }
}

@-webkit-keyframes fly--right {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(35vw);
            transform: translateX(35vw);
  }
  100% {
    -webkit-transform: translateX(180px);
            transform: translateX(180px);
    opacity: 0;
  }
}

@keyframes fly--right {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(35vw);
            transform: translateX(35vw);
  }
  100% {
    -webkit-transform: translateX(180px);
            transform: translateX(180px);
    opacity: 0;
  }
}

@-webkit-keyframes fly--up--left {
  0% {
    -webkit-transform: rotate(135deg) translate(0vw, 0vw);
            transform: rotate(135deg) translate(0vw, 0vw);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(135deg) translate(-3vw, 20vw);
            transform: rotate(135deg) translate(-3vw, 20vw);
    opacity: 0;
  }
}

@keyframes fly--up--left {
  0% {
    -webkit-transform: rotate(135deg) translate(0vw, 0vw);
            transform: rotate(135deg) translate(0vw, 0vw);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(135deg) translate(-3vw, 20vw);
            transform: rotate(135deg) translate(-3vw, 20vw);
    opacity: 0;
  }
}

@-webkit-keyframes fly--up--right {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(45deg) translate(-3vw, -20vw);
            transform: rotate(45deg) translate(-3vw, -20vw);
    opacity: 0;
  }
}

@keyframes fly--up--right {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(45deg) translate(-3vw, -20vw);
            transform: rotate(45deg) translate(-3vw, -20vw);
    opacity: 0;
  }
}

@-webkit-keyframes fly--down--left {
  0% {
    -webkit-transform: rotate(45deg) translate(0vw, 0vw);
            transform: rotate(45deg) translate(0vw, 0vw);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(45deg) translate(-3vw, 20vw);
            transform: rotate(45deg) translate(-3vw, 20vw);
    opacity: 0;
  }
}

@keyframes fly--down--left {
  0% {
    -webkit-transform: rotate(45deg) translate(0vw, 0vw);
            transform: rotate(45deg) translate(0vw, 0vw);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(45deg) translate(-3vw, 20vw);
            transform: rotate(45deg) translate(-3vw, 20vw);
    opacity: 0;
  }
}

@-webkit-keyframes fly--down--right {
  0% {
    -webkit-transform: rotate(135deg) translate(0vw, 0vw);
            transform: rotate(135deg) translate(0vw, 0vw);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(135deg) translate(0vw, -20vw);
            transform: rotate(135deg) translate(0vw, -20vw);
    opacity: 0;
  }
}

@keyframes fly--down--right {
  0% {
    -webkit-transform: rotate(135deg) translate(0vw, 0vw);
            transform: rotate(135deg) translate(0vw, 0vw);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(135deg) translate(0vw, -20vw);
            transform: rotate(135deg) translate(0vw, -20vw);
    opacity: 0;
  }
}

.bingoGrid {
  grid-area: "bingoGrid";
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[5];
      grid-template-columns: repeat(5, 100px);
  -ms-grid-rows: (100px)[5];
      grid-template-rows: repeat(5, 100px);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
}

button {
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: yellow;
  outline: none;
  font-weight: 500;
  font-family: "Trebuchet MS", sans-serif;
}

button:hover {
  color: white;
}

.highlighted {
  text-decoration: line-through;
  color: #6200ea;
}

.nonHighlighted {
  text-decoration: none;
}

button:disabled {
  background-color: #ffea00;
  color: black;
}

button.highlighted:disabled {
  text-decoration: none;
}
/*# sourceMappingURL=App.css.map */